<!-- Main Content -->
<div class="container my-3">
  <div class="row">
    <%= render 'user_profile' %>
    <div class="col mt-3 mt-md-0">
      <div class="card">
        <div class="card-body">
          <div class="tab-content">
            <div class="card-body tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <h1 style="text-align: center">Mon Profil</h1><hr>
              <h3>Mes Informations</h3><hr>
              <div class="form-style-1">
                <%= render 'form_show' %>
              </div>
            </div>
          </div>
          <div class="card-body tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
            <% if Order.where(user_id: current_user.id).order(:id).blank? %>
              Pas de commandes
            <% else %>
              <%= render 'orderlist', order: Order.where(user_id: current_user.id).order(:id) %> 
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



