<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-style-1">
        <div class="form-group text-center">
          <h2 class="bold">Réinitialiser le mot de passe</h2>
          <em>Tapez votre Email et recevez la confirmation.</em>
        </div>
		<div class="form-group input-icon">
			<%= f.email_field :email, autocomplete: "email", class: "form-control",placeholder: "Adresse Email",  autofocus: true  %>
		</div>
		<div class="actions">
			<%= f.submit "Réinitialiser ", class: "btn btn-danger btn-block reset-done" %>
		</div>
	</div>
<% end %>


 