<div class="container my-3 my-sm-5">
  <div class="row justify-content-center" id="row-reset" >
    <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-login">
            	<%= render 'form_forgot' %>
            	<hr>
  				<%= link_to "Back to login", new_session_path(resource_name), class: "btn btn-light btn-sm login" %><br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div> 
