<!-- Main Content -->
<div class="container my-3">
  <div class="card">
    <div class="card-body">

      <!-- About Us -->
      <div class="row">
        <div class="col-md-6 mb-3 mb-md-0">
          <img src="https://artisansofmorocco.files.wordpress.com/2014/04/artisans-2048-shot-2-1.jpg" alt="About Us" class="w-100">
        </div>
        <div class="col-md-6 text-justify">
          <h2 class="bold">A propos de nous.</h2>
          <br/>
          <p>La richesse culturel de notre monde mérite d'être connue et partagée, parce qu'elle est à la fois belle et fragile. L'équipe de Nativea souhaite faire profiter à tous le travail exceptionnel d'artisans où qu'ils se trouvent dans le monde.</p>
          <p>La richesse culturel de notre monde mérite d'être connue et partagée, parce qu'elle est à la fois belle et fragile. L'équipe de Nativea souhaite faire profiter à tous le travail exceptionnel d'artisans où qu'ils se trouvent dans le monde.</p>
          <p>La richesse culturel de notre monde mérite d'être connue et partagée, parce qu'elle est à la fois belle et fragile. L'équipe de Nativea souhaite faire profiter à tous le travail exceptionnel d'artisans où qu'ils se trouvent dans le monde.</p>
        </div>
      </div>
      <!-- /About Us -->

      <hr class="my-5">

      <!-- Our Purpose -->
      <div class="row">
        <div class="col-md-6 mb-3 mb-md-0 order-md-2 text-justify">
          <img src="https://tunisie.co/uploads/images/content/bijoux-271016-11.jpg" alt="Our Purpose" class="w-100">
        </div>
        <div class="col-md-6 order-md-1">
          <h2 class="bold">Notre but</h2>
          <br/>
          <p>La richesse culturel de notre monde mérite d'être connue et partagée, parce qu'elle est à la fois belle et fragile. L'équipe de Nativea souhaite faire profiter à tous le travail exceptionnel d'artisans où qu'ils se trouvent dans le monde.</p>
          <p>La richesse culturel de notre monde mérite d'être connue et partagée, parce qu'elle est à la fois belle et fragile. L'équipe de Nativea souhaite faire profiter à tous le travail exceptionnel d'artisans où qu'ils se trouvent dans le monde.</p>
        </div>
      </div>
      <!-- /Our Purpose -->

      <hr class="my-5">

      <!-- Our Values -->
      <h2 class="bold text-center mb-4">Our Values</h2>
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="media">
            <img class="rounded-circle mr-3" src="https://www.perinat-france.org/sites/default/files/tazze.jpg" width="64" height="64" alt="We Serve">
            <div class="media-body text-justify">
              <h5 class="bold">Nativea s'engage</h5>
              La richesse culturel de notre monde mérite d'être connue et partagée, parce qu'elle est à la fois belle et fragile. L'équipe de Nativea souhaite faire profiter à tous le travail exceptionnel d'artisans où qu'ils se trouvent dans le monde.
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="media">
            <img class="rounded-circle mr-3" src="https://www.perinat-france.org/sites/default/files/tazze.jpg" width="64" height="64" alt="We Run">
            <div class="media-body text-justify">
              <h5 class="bold">Nativea soutient</h5>
              La richesse culturel de notre monde mérite d'être connue et partagée, parce qu'elle est à la fois belle et fragile. L'équipe de Nativea souhaite faire profiter à tous le travail exceptionnel d'artisans où qu'ils se trouvent dans le monde.
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="media">
            <img class="rounded-circle mr-3" src="https://www.perinat-france.org/sites/default/files/tazze.jpg" width="64" height="64" alt="We Adapt">
            <div class="media-body text-justify">
              <h5 class="bold">Nativea investit</h5>
              La richesse culturel de notre monde mérite d'être connue et partagée, parce qu'elle est à la fois belle et fragile. L'équipe de Nativea souhaite faire profiter à tous le travail exceptionnel d'artisans où qu'ils se trouvent dans le monde.
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="media">
            <img class="rounded-circle mr-3" src="https://www.perinat-france.org/sites/default/files/tazze.jpg" width="64" height="64" alt="We Commit">
            <div class="media-body text-justify">
              <h5 class="bold">Nativea crée</h5>
              La richesse culturel de notre monde mérite d'être connue et partagée, parce qu'elle est à la fois belle et fragile. L'équipe de Nativea souhaite faire profiter à tous le travail exceptionnel d'artisans où qu'ils se trouvent dans le monde.
            </div>
          </div>
        </div>
      </div>
      <!-- /Our Values -->

    </div>
  </div>
</div>
<!-- /Main Content -->