<div class="card card-2col text-white">
  <%= image_tag ('font.jpg'), alt: "font", :class => "card-img img-responsive w-100" %>
  <div class="card-img-overlay card-img-overlay-transparent flex-center flex-column">
    <h2 class="card-title bg-info px-4 py-1 rounded-pill" style="font-size:1.5em;">Bienvenue sur NATIVEA</h2>
    <p class="text-center d-none d-lg-block">Retrouvez et achetez vos produits préférés créés par les meilleurs artisans</p>
    <%= link_to "Consultez nos articles", variants_path, class: "btn btn-primary rounded-pill text-white", :data => {"addClass-on-xs" => "btn-sm"} %>
  </div>
</div>