<div class="container">
<h1 class="mt-3">Nouvelle Valeur d'option</h1>
</div>

<%= render 'form', option_association: @option_association %>

<div class="container mb-3">
<%= link_to 'Revenir à la liste', option_associations_path %>
</div>