<div class="container my-3">
  <div class="card">
    <div class="card-header bg-white border-bottom flex-center p-0">
      <ul class="nav nav-pills card-header-pills main-nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link disabled active" href="javascript:void(0)" id="cart" data-toggle="tab" role="tab" aria-controls="cart" aria-selected="false">PANIER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="javascript:void(0)">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-long-arrow-alt-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="javascript:void(0)" id="shipping" data-toggle="tab" role="tab" aria-controls="shipping" aria-selected="false">LIVRAISON</a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="card-body tab-pane fade show active" id="cart" role="tabpanel" aria-labelledby="cart">
        <%= render 'cart', carts: @carts, total: @amount %>
      </div>
      <div class="card-body tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping">
        <%= render 'shipping', total: @amount, user: current_user, order: @order %>
      </div>
      <div class="card-body tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment">
        pay
      </div>
    </div>
  </div>
</div>

<script>
    $(function() {
        let toggleNavBar = document.querySelectorAll(".main-nav-pills li a");
        let toggleContent = document.querySelectorAll(".tab-content .card-body");
        let buttonToChange2 = document.querySelectorAll(".btn.btn-sm.btn-outline-secondary")[1];
        
        let btnShipping = document.getElementById("btn_shipping");
        let btnPayment = document.getElementById("btn_payment");

        console.log(toggleContent[0]);
        console.log(toggleContent[1]);
        console.log(toggleContent[2]);

        btnShipping.addEventListener("click", changetoShipping);
        function changetoShipping() {
            toggleNavBar[0].classList.remove("active");
            toggleNavBar[2].classList.add("active");
            toggleContent[0].classList.remove("show", "active");
            toggleContent[1].classList.add("show", "active");
        };
    });
</script>