<div class="container py-5 mb-4 text-center">
    <h2 class="h3">ERREUR DU SERVER</h2>
    <p class="text-muted">Il a y eu un problème de connexion.</p>  
    <p class="text-muted">Vous pouvez revenir sur la page principale ou nous contacter pour nous signaler le problème afin que nous puissions le régler au plus vite.</p>
    <div class="row d-flex justify-content-around">
        <%= link_to "Revenir aux achats", variants_path, class: "btn btn-primary rounded-pill" %></li>
        <%= link_to "Nous contacter", variants_path, class: "btn btn-secondary rounded-pill" %></li>
    </div>
</div>