<!-- Main Content -->
<div class="container mt-3 mb-3">

  <div class="row gutters-3">

    <!-- Shop Filters -->
    <div class="col-lg-3 col-md-4 mt-3">
      <%= render 'sidebar' %> 
    </div>
    <!-- /Shop Filters -->

    <div class="col-lg-9 col-md-8">
      <!-- Shop Toolbar -->
      <div class="mb-3">
      </div>
      <!-- /Shop Toolbar -->

      <!-- Shop Grid -->
      <div class="card-deck card-deck-product with-sidebar mt-3"> 
        <% if @variants.empty? %>
          <div class="card card-product">
            <div class="card-body">
                <p>Votre recherche ne correspond à aucun de nos articles.</p>
                <p>Vous pouvez effectuer une nouvelle recherche ou revenir sur la page d'accueil.</p>
                <%= link_to "Revenir à l'accueil", variants_path, class: "btn btn-primary"%>
            </div>
          </div>
        <% else %>
          <% @variants.order(:id).each do |current_variant| %>
            <%= render 'listVariant', variant: current_variant, item: Item.find(current_variant.item_id) %> 
          <% end %>
        <% end %>
      </div>
      <!-- /Shop Grid -->

      <!-- Pagination -->
        <div class="d-flex justify-content-center">
          <%= paginate @variants, window: 1 %>
        </div>
      <!-- /Pagination -->

    </div>
  </div>
</div>
<!-- /Main Content -->

<!-- Filter Modal -->
<div class="modal fade"id="filterModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">Filtres de recherche</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
      </div>
    </div>
  </div>
</div>
<!-- /Filter Modal -->

<script>
  $(function () {
  App.rating();

  let fullHeart = document.querySelectorAll(".oups"); 
  function displayAlert() {
    alert("Cet article est déjà présent dans votre wishlist!");
  };
  for (i = 0; i < fullHeart.length; i++) {
    fullHeart[i].addEventListener("click", displayAlert);
  };
});
</script>