<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Main Content -->
<div class="container mt-3 mb-3">
  <div class="row gutters-3">

    <!-- Shop Filters -->
    <div class="col-lg-3 col-md-4">
      <div class="accordion accordion-caret accordion-sidebar d-none d-md-block">
        <div class="card">
          <div class="card-header">
            <a href="#filter-categories" data-toggle="collapse" aria-expanded="true" aria-controls="filter-categories" role="button" class="h6">
              CATEGORIES
            </a>
          </div>
          <div id="filter-categories" class="collapse show">
            <div class="card-body">
              <ul class="list-tree">
                <li>
                  <a href="#" class="has-arrow">Men's Fashion <small class="counter">(120)</small></a>
                  <ul>
                    <li class="mm-active"><a href="javascript:void(0)">Clothing <small class="counter">(40)</small></a></li>
                    <li><a href="javascript:void(0)">Shoes <small class="counter">(20)</small></a></li>
                    <li><a href="javascript:void(0)">Watches <small class="counter">(35)</small></a></li>
                    <li><a href="javascript:void(0)">Accessories <small class="counter">(25)</small></a></li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="has-arrow">Women's Fashion <small class="counter">(140)</small></a>
                  <ul>
                    <li><a href="javascript:void(0)">Clothing <small class="counter">(40)</small></a></li>
                    <li><a href="javascript:void(0)">Shoes <small class="counter">(30)</small></a></li>
                    <li><a href="javascript:void(0)">Jewelry <small class="counter">(25)</small></a></li>
                    <li><a href="javascript:void(0)">Handbags <small class="counter">(45)</small></a></li>
                  </ul>
                </li>
                <li><a href="javascript:void(0)">Girls' Fashion <small class="counter">(95)</small></a></li>
                <li><a href="javascript:void(0)">Boys' Fashion <small class="counter">(97)</small></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a href="#filter-price" data-toggle="collapse" aria-expanded="true" aria-controls="filter-price" role="button" class="h6">
              PRICE
            </a>
          </div>
          <div id="filter-price" class="collapse show">
            <div class="card-body">
              <div class="d-flex justify-content-between mb-3">
                <input type="text" class="form-control form-control-sm rounded-pill text-center bold roboto-condensed bg-light mr-2 minw-0" id="price-slider-min">
                <input type="text" class="form-control form-control-sm rounded-pill text-center bold roboto-condensed bg-light ml-2 minw-0" id="price-slider-max">
              </div>
              <div id="price-slider"></div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a href="#filter-size" data-toggle="collapse" aria-expanded="true" aria-controls="filter-size" role="button" class="h6">
              SIZE
            </a>
          </div>
          <div id="filter-size" class="collapse show">
            <div class="card-body">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="size-small">
                <label class="custom-control-label" for="size-small">Small</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="size-medium" checked>
                <label class="custom-control-label" for="size-medium">Medium</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="size-large" checked>
                <label class="custom-control-label" for="size-large">Large</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="size-extra-large">
                <label class="custom-control-label" for="size-extra-large">Extra Large</label>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a href="#filter-colors" data-toggle="collapse" aria-expanded="true" aria-controls="filter-colors" role="button" class="h6">
              COLORS
            </a>
          </div>
          <div id="filter-colors" class="collapse show">
            <div class="card-body">
              <div class="color-options">
                <label class="custom-control custom-checkbox custom-radio-color custom-control-inline">
                  <input type="checkbox" class="custom-control-input" checked>
                  <span class="custom-control-label" style="background-color: #606ddd"></span>
                </label>
                <label class="custom-control custom-checkbox custom-radio-color custom-control-inline">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-label" style="background-color: #4caf50"></span>
                </label>
                <label class="custom-control custom-checkbox custom-radio-color custom-control-inline">
                  <input type="checkbox" class="custom-control-input" checked>
                  <span class="custom-control-label" style="background-color: #17a2b8"></span>
                </label>
                <label class="custom-control custom-checkbox custom-radio-color custom-control-inline">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-label" style="background-color: #ffc107"></span>
                </label>
                <label class="custom-control custom-checkbox custom-radio-color custom-control-inline">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-label" style="background-color: #f44336"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a href="#filter-brands" data-toggle="collapse" aria-expanded="true" aria-controls="filter-brands" role="button" class="h6">
              BRANDS
            </a>
          </div>
          <div id="filter-brands" class="collapse show">
            <div class="card-body">
              <div class="input-group input-group-sm input-group-search mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-light" type="button"><i data-feather="search"></i></button>
                </div>
                <input type="text" class="form-control border-0 bg-light" id="search-brands" placeholder="Search...">
              </div>
              <div class="brands-list">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-tommy-hilfiger">
                  <label class="custom-control-label" for="brand-tommy-hilfiger">Tommy Hilfiger <small class="counter">43</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-nike">
                  <label class="custom-control-label" for="brand-nike">Nike <small class="counter">245</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-hugo-boss">
                  <label class="custom-control-label" for="brand-hugo-boss">Hugo Boss <small class="counter">221</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-burberry">
                  <label class="custom-control-label" for="brand-burberry">Burberry <small class="counter">157</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-levi's">
                  <label class="custom-control-label" for="brand-levi's">Levi's <small class="counter">272</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-gucci">
                  <label class="custom-control-label" for="brand-gucci">Gucci <small class="counter">218</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-lacoste">
                  <label class="custom-control-label" for="brand-lacoste">Lacoste <small class="counter">166</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-adidas">
                  <label class="custom-control-label" for="brand-adidas">Adidas <small class="counter">244</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-the-north-face">
                  <label class="custom-control-label" for="brand-the-north-face">The North Face <small class="counter">10</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-versace">
                  <label class="custom-control-label" for="brand-versace">Versace <small class="counter">205</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-rolex">
                  <label class="custom-control-label" for="brand-rolex">Rolex <small class="counter">203</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-diesel">
                  <label class="custom-control-label" for="brand-diesel">Diesel <small class="counter">132</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-calvin-klein">
                  <label class="custom-control-label" for="brand-calvin-klein">Calvin Klein <small class="counter">55</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-armani-exchange">
                  <label class="custom-control-label" for="brand-armani-exchange">Armani Exchange <small class="counter">207</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-prada">
                  <label class="custom-control-label" for="brand-prada">Prada <small class="counter">42</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-zara">
                  <label class="custom-control-label" for="brand-zara">Zara <small class="counter">112</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-vans">
                  <label class="custom-control-label" for="brand-vans">Vans <small class="counter">192</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-hermès">
                  <label class="custom-control-label" for="brand-hermès">Hermès <small class="counter">88</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-supreme">
                  <label class="custom-control-label" for="brand-supreme">Supreme <small class="counter">186</small></label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="brand-converse">
                  <label class="custom-control-label" for="brand-converse">Converse <small class="counter">107</small></label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header px-5 py-2 text-center"><button class="btn btn-primary rounded-pill btn-sm btn-block" data-dismiss="modal">APPLY</button></div>
        </div>
      </div>
    </div>
    <!-- /Shop Filters -->

    <div class="col-lg-9 col-md-8">
      <!-- Shop Toolbar -->
      <div class="card mb-3">
        <div class="card-body d-flex justify-content-end align-items-center py-2">
          <button class="btn btn-sm btn-outline-primary rounded-pill d-block d-md-none mr-auto" data-toggle="modal" data-target="#filterModal"><i data-feather="filter"></i> Filter</button>
          <ol class="breadcrumb d-none d-md-flex p-0 mb-0 mr-auto">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="shop-grid.html">Men's Fashion</a></li>
            <li class="breadcrumb-item active" aria-current="page">Clothing</li>
          </ol>
          <div class="dropdown dropdown-hover">
            <button class="btn btn-light btn-sm border rounded-pill dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Popular <i data-feather="chevron-down"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right shadow-sm" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" type="button">Popular</button>
              <button class="dropdown-item" type="button">Low - High Price</button>
              <button class="dropdown-item" type="button">High - Low Price</button>
              <button class="dropdown-item" type="button">Avarage Rating</button>
              <button class="dropdown-item" type="button">A - Z Order</button>
              <button class="dropdown-item" type="button">Z - A Order</button>
            </div>
          </div>
          <a href="shop-grid.html" class="btn btn-icon rounded-pill btn-sm btn-primary ml-3" data-toggle="tooltip" title="Show Grid"><i data-feather="grid"></i></a>
          <a href="shop-list.html" class="btn btn-icon rounded-pill btn-sm btn-outline-primary ml-1" data-toggle="tooltip" title="Show List"><i data-feather="list"></i></a>
        </div>
      </div>
      <!-- /Shop Toolbar -->

      <!-- Shop Grid -->
      <div class="card-deck card-deck-product with-sidebar mt-3"> 
        <% @variants.order(:id).each do |current_variant| %>
         <%= render 'oneVariant', variant: current_variant, item: Item.find(current_variant.item_id), iSlice: -1 %> 
        <% end %>
      </div>
      <!-- /Shop Grid -->

      <!-- Pagination -->
      <!-- /Pagination -->

    </div>
  </div>
</div>
<!-- /Main Content -->

<!-- Filter Modal -->
<div class="modal fade"id="filterModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">Shop Filters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
      </div>
    </div>
  </div>
</div>
<!-- /Filter Modal -->