<div class="card card-blog">
  <%= link_to post_path(post.id), class: "zoom-hover" do %>
    <img src="https://image.noelshack.com/fichiers/2019/11/3/1552473886-aromatherapy-aromatic-bottle-932577.jpg" alt="test">
    <% end %>
  <div class="card-body">
    <%= link_to elements.title, post_path(post.id), class: "title h4" %>
    <span><%= elements.content[0..25] %>...</span>
  </div>
    <div class="card-footer flex-center">
      <div class="small text-muted counter">
        <i class="far fa-heart"></i> 55
        <i class="far fa-comment-dots ml-3"></i> 15
      </div>
      <a href="<%= post_path(post.id) %>" class="bold">READ MORE</a>
    </div>
</div>

