<div class="card card-blog card-blog-list mt-3" visible>
  <%= link_to post_path(post.id), class: "zoom-hover" do %>
  	<span data-cover="https://image.noelshack.com/fichiers/2019/11/3/1552473887-adult-artisan-blacksmith-1659748.jpg" data-height="100%"></span>
  <% end %>
  <div class="card-body">
  	<%= link_to elements.title, post_path(post.id), class: "title h4" %>
    <p class="d-none d-sm-block"><%= elements.content[0..25] %>...   
    	<%= link_to "> Continuer a lire", post_path(post.id) %>
    </p>
    <div class="small text-muted counter">
      <i class="fas fa-thumbs-up"></i> 55
      <i class="far fa-comment"></i> 15
    </div>
  </div>
</div>