<a href="javascript:void(0)" class="btn btn-light rounded-pill">Design</a>
<a href="javascript:void(0)" class="btn btn-light rounded-pill">Fashion</a>
<a href="javascript:void(0)" class="btn btn-light rounded-pill">Beauty</a>
<a href="javascript:void(0)" class="btn btn-light rounded-pill">Travel</a>
<a href="javascript:void(0)" class="btn btn-light rounded-pill">Sport</a>
<a href="javascript:void(0)" class="btn btn-light rounded-pill active">Active tag</a>
<a href="javascript:void(0)" class="btn btn-light rounded-pill">Cooking</a>
<a href="javascript:void(0)" class="btn btn-light rounded-pill">Technology</a>