<div class="card-body">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-12">
      <div class="card card-blog shadow-none">
        <a href="blog-single.html" class="zoom-hover"><img src="https://image.noelshack.com/fichiers/2019/11/3/1552473977-ceramics-clay-handmade-22823.jpg" alt="Blog"></a>
        <div class="card-body p-0 text-center">
          <a href="blog-single.html" class="title h5 mt-3"><%=   %></a>
          <div class="small text-muted">
            <i class="far fa-heart"></i> 55 Likes
            <i class="far fa-comment-dots ml-3"></i> 15 Comments
          </div>
        </div>
      </div>
    </div>
  </div>
</div>