// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-caption {
    display: block;
    position: relative;
    margin-top: 25vh;
    color: #FFF;
	text-shadow: none;
    padding: 20px;
    z-index: 5;
    text-align: center;
}
.hero-caption h1 {
    font-weight: 300;
    font-size: 3rem;
}