<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contactons pour vous notifier que votre adresse email est remplacée par: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous contactons pour vous notifer que votre adresse email a étée remplacée par: <%= @resource.email %>.</p>
<% end %>
