<p>Bonjour <%= @resource.email %>!</p>

<p>Quelq'un a demandé un lien pour changer votre mot de passe, vous pouvez le faire a travers le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez pas demandé le changement de mot de passe, ignorez cet email.</p>
<p>Votre mot de passe ne changera pas tant que persone n'accède au lien ci-dessus et en crée un nouveau.</p>
