<!-- Footer -->
  <div class="footer w-100">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-sm-6 col-lg-4 text-center px-3 mb-5">
          <h5 class="bold">SOUSCRIRE</h5>
          <p>et profitez <strong class="text-primary">10% de réduction</strong></p>
          <form>
            <div class="form-group">
              <input type="email" class="form-control rounded-pill text-center" placeholder="Saisissez votre email">
            </div>
            <button type="button" class="btn btn-primary btn-block rounded-pill">Souscrire</button>
          </form>
        </div>
        <div class="col-6 col-lg-2 d-none d-sm-block">
        </div>
        <div class="col-6 col-lg-3 d-none d-sm-block">
          <h6 class="bold">Service client</h6>
          <div class="list-group list-group-flush list-group-no-border list-group-sm">
            <a href="javascript:void(0)" class="list-group-item list-group-item-action">Aide</a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action">Comment acheter?</a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action">Livraison</a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action">Retourner un article ?</a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action">Méthodes de paiement</a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action">Modalités de livraison</a>
          </div>
        </div>
        <div class="col-6 col-lg-3 d-none d-sm-block">
          <h6 class="bold">Nativea</h6>
          <div class="list-group list-group-flush list-group-no-border list-group-sm">
            <a href="about.html" class="list-group-item list-group-item-action">About us</a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action">Termes et Conditions</a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action">Politique de confidentialité</a>
            <a href="faq.html" class="list-group-item list-group-item-action">FAQs</a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action">Notre histoire</a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action">Services</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright pt-3">
    <div>Copyright © 2019 Nativea - All right reserved</div>
    <div>Réalisé avec <i class="fas fa-heart"></i> par les kittens</div>
  </div>

<!-- /Footer -->